@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    
}

.content {
    max-width: 375px;
    margin: 0 auto;
}

.qr-code {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}

 .qr-code img{
    width: 100%;
    border-radius: 12px;
    
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(220, 15%, 55%);
}
